.navItem{
  text-decoration: none;
  color: white;
  margin: 7px;
}
.nav-link{
  color: white;
}
.purple{
  background-color: #4848ab;
}
.cream{
  background-color: #ded3d3;
}
.dark{
  background-color: #292b2c;
}

