/*Colors:
rgb(87, 87, 87); --- Light Grey
rgb(72, 72, 171); --- Purple

*/
.navItem{
  text-decoration: none;
  color: white;
  margin: 7px;
}
.navLink{
  text-decoration: none;
  padding: 5px;
  margin-right: 4px;
  color: white;
  transition: all 0.2s;
}
.navLink:hover{
  color: rgb(87, 87, 87);
  border-bottom: 3px solid white;
}

.purple{
  background-color: rgb(72, 72, 171);
}
.cream{
  background-color: #ded3d3;
}
.dark{
  background-color: #292b2c;
}
.navItem :hover{
  color: rgb(87, 87, 87);
  transform-origin: center;
  transform: scale(1.1);
  transition: 0.3s;
}
