/* .nav {
    display: flex;
    background-color: black;
    color: aliceblue;
} */


.screen {
    min-width: 100vh;
    min-height: 90.8vh;
}

.pfp {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.white{
    background-color: white;
}


.main{
    /*min-width: 100vh;*/
    min-height: 100vh;
}
.projectImage{
    height: 350px;
}
.projectImage:hover{
    transform-origin: center;
    transform: scale(0.98);
    transition: 0.5s;
}
.description{
    min-height: 50px;
}

.flexItem{
    max-width: 400px;
  }

.a{
    color: black;
    text-decoration: blue;
}
.skillItems{
    max-width: 500px;
    font-size: 20px;
    padding: 3px;
    
}


.form{
    width: 400px;
    background-color: white;
    
}
.button{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #7575d7;
    color: white;
    padding: 14px;
    font-size: 17px;
}
.button:hover{
    transform: scale(1.05);
    transition: 0.3s;
    font-weight: bold;
    color: white;
}
.btnScroll{
    height: 50px;
    width: 50px;
    border: 3px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 50px;
    bottom: 60px;
}


.btnCopy{
    width: 90px;
    transition: 1s;
}